<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../style1.css" rel="stylesheet" type="text/css">
    <title>about</title>
    <script language = "javascript" type = "text/javascript" src = "display.js">
    </script>
  </head>
  <body>
    <% include header.ejs %>
    <h1 align="center">About Us</h1>
    <div class="container">
    <p>
      Shalaka Technologies is a leading designer and manufacturer in India. Shalaka was founded in 2004, with the vision to contribute to technological advancement and growth of organisations and the country. Many of Shalaka’s designs lead the market in performance, technical edge, size and robust design.
Shalaka has strong expertise in

Embedded System
Hardware
Firmware
Product Development
Enterprise Solutions
Training
Corporate Training
Training to bridge gap between academics and Industries
Shalaka has a strong R&D team, that works round the clock and is involved in developing systems used around the globe. Team constantly dedicates time and effort to stay ahead of time in product development assuring customers products that can be upgraded with advancement in technology with minimal effort. Products designed by Shalaka are customised and crafted as per industry requirements thus providing a perfect solution.
</p>
</div>
<p align="center">
  <a href="/">Back</a>
</p>
    <% include footer.ejs %>
  </body>
</html>
