<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../style1.css" rel="stylesheet" type="text/css">
    <title>Contact</title>
  </head>
  <body>
    <% include header.ejs %>

    <h1 align="center">Contact Us</h1>
    <div class="container">
      <br>
      <br>
    <p> For any queries mail ketkikokate@gmail.com</p>
      <p>Address: Office No 2, Chinali Apts, Off Khilare Road, Above Hotel Sweekar, Erandvane</p>
      <p align="center">
        <a href="/">Back</a>
      </p>
  <% include footer.ejs %>

  </body>
</html>
